
*{
    color: white;
}

body{
    background-image: url(./public/images/Assets/About.png);
    background-size: cover;  
    background-position: center;  
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 390px;
    height: 852px;
    font-family: "Micro 5", sans-serif;
    font-size: 18px;
    padding: 20px;
    position: relative;
}



h1{
    font-family: Megrim;
    font-weight: 500;
    color: white;
    position: absolute;
    top: 20px;
    left: 45%;
    transform: translateX(-50%);
    width: 100%;
    text-align: center;
    font-size: 26px;
    letter-spacing: 0.2em;
   
}

.spaceship{
   position: absolute;
  
   width: 158px;
   left:48%;
   top:8%;
   
    
}

.about{
    font-family: Mina;
    position: absolute;
    color: white;
    bottom: 95%;
    left: 40%;
}

.gameinfo{
    font-family: Mina;
    font-weight: 700;
    position: absolute;
    color: white;
    top:20%;
    left:10%;
}

.cards{
    position: absolute;
    left: 5%;
    width: 350px;
    top:30%;
}

.aboutgame{
    position: absolute;
    width: 318px;
    height: 110px;
    font-size: 10px;
    font-family: Mina;
    left:10%;
    line-height: 200%;
    top:50%
}

.question{
   
    font-family: Mina;
    background: linear-gradient(90.01deg, #0033ff 0.18%, #c1c0ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: absolute;
    left: 10%;
    top:70%;
    font-size: 11px;
    letter-spacing: 0.15em;
}

.howbtn{
    position: absolute;
    top:80%;
    left:25%;
    height: 40px;
    width: 180px;
    border-radius: 10px;
    background-color: rgba(59, 59, 59, 0.7);
    border: 3px solid #5e6d9a;
    box-sizing: border-box;
    font-family: 'Micro 5';
    height: 40px;
    font-size: 16px;
    letter-spacing: 0.35em;
}

.startbtn{
    position: absolute;
    top:87%;
    left:25%;
    height: 40px;
    width: 180px;
    border-radius: 10px;
    background: linear-gradient(242.65deg, #5642b1, #572adf 23.92%, #763ddf 48.35%, #834eee 67.05%, #b29dde 83.33%, #3512a6);
    border: 3px solid #5e6d9a;
    box-sizing: border-box;
    font-family: 'Micro 5';
    height: 40px;
    font-size: 16px;
    letter-spacing: 0.35em;
}

/* how to play */
.howtoplay{
    font-family: Mina;
    position: absolute;
    color: white;
    bottom: 95%;
    left: 30%;
}

.centertitle{
    font-family: Mina;
    font-weight: 700;
    position: absolute;
    color: white;
    top:10%;
    left:33%;
    font-size: 24px;
}

.card1{
    position: absolute;
    top:20%;
    left:5%;
}

.cardinfo1{
    position: absolute;
    top: 25%;
    right:14%;
}
.textbox1{
    width: 178px;
    
}

.liststyle{
    font-family: Mina;
    font-size: 8px;
    line-height: 16px;
    font-weight: 400;
    letter-spacing: 0.35em;
    color: #fff;
    height: 101px;
    text-shadow: 1px 0 0 #1e1b80, 0 1px 0 #1e1b80, -1px 0 0 #1e1b80, 0 -1px 0 #1e1b80;

}

.listposition1{
    position: absolute;
    top:15%;
}

.chaptercardrarity{
    position: absolute;
    top:22%;
    left:44%;
}

.card2{
    position: absolute;
    top:50%;
    left:50%;
}

.liststyle2{
    font-family: Mina;
    font-size: 8px;
    line-height: 16px;
    font-weight: 400;
    letter-spacing: 0.35em;
    color: #fff;
    height: 101px;
    text-shadow: 1px 0 0 #46236c, 0 1px 0 #46236c, -1px 0 0 #46236c, 0 -1px 0 #46236c;

}

.cardinfo2{
    position: absolute;
    top: 56%;
    left:5%;
}

.fcardrarity{
    position: absolute;
    top:53%;
    left:23%;

}

.cardinfo3{
    position: absolute;
    top: 100%;
    left:40%;
}

.listposition2{
    position: absolute;
    top:10%;
}

.card3{
    position: absolute;
    top:99%;
    left:10%;
}

.tcardrarity{
    position: absolute;
    top:97%;
    left:40%;
}

.phoneExample{
    position: absolute;
    top:105%;
    left: 6%;
    width:384px;
    height: 596px;
}

.instructionlist{
    position: absolute;
    top:170%;
    left:1%;
    width: 340px;
}

.insliststyle{
    font-family: Mina;
    font-size: 12px;
}

.downlaodbtn{
    position: absolute;
    top:200%;
    left: 20%;
    border-radius: 10px;
    background-color: rgba(59, 59, 59, 0.7);
    border: 3px solid #5e6d9a;
    box-sizing: border-box;
    height: 42px;
    width: 200px;
    letter-spacing: 0.35em;
    font-family: 'Micro 5';
}

.startbtn2{
    font-family: 'Micro 5';
    position: absolute;
    font-weight: 400;
    letter-spacing: 0.35em;
    font-size: 16px;
    top:207%;
    left: 20%;
    border-radius: 10px;
    background: linear-gradient(242.65deg, #5642b1, #572adf 23.92%, #763ddf 48.35%, #834eee 67.05%, #b29dde 83.33%, #3512a6);
    border: 3px solid #5e6d9a;
    box-sizing: border-box;
    height: 42px;
    width: 200px;
}

.endpicture{
    position: absolute;
    top:10%;
    left:2%;
}

.down{
    position: absolute;
    top:90%;
    left:40%;
}

.DevCredits{
    position: absolute;
    right:10%;
    top:130%;
}

.credits{
    position: absolute;
    width: 163px;
    font-size: 32px;
    letter-spacing: 0.12em;
    font-weight: 700;
    font-family: Quantico;
    color: #21d1ff;
    text-align: center;
    align-items: center;
    justify-content: center;
    text-shadow: 0px 2px 5px #21d1ff;
    top:110%;
    left:25%;
}

.RadioCredits{
    position: absolute;
    right:10%;
    top:170%;
}

.exit{
    position: absolute;
    top:250%;
    left:30%;
    width: 120px;
    height: 50px;
    border-radius: 10px;
    background-color: rgba(59, 59, 59, 0.7);
    border: 3px solid #5e6d9a;
    box-sizing: border-box;
    
}

.prologueAudio{
    position: absolute;
    top:50%;
    width: 85%;
    right:13%;
}